/* Fonts */
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/hanken-grotesk-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/hanken-grotesk-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/hanken-grotesk-800.woff2') format('woff2');
}

/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom Properties */
:root {
  /* HSL values */
  --color-blue-hsl: 234 85% 45%;
  --color-red-hsl: 0 100% 67%;
  --color-green-hsl: 166 100% 37%;
  --color-yellow-hsl: 40 100% 56%;
  --color-blue-lightest-hsl: 220 100% 96%;
  --color-blue-light-hsl: 241 100% 89%;
  --color-dark-navy-hsl: 223 30% 27%;
  --color-white-hsl: 0 0% 100%;

  /* Colours */
  --color-blue: hsl(var(--color-blue-hsl));
  --color-red: hsl(var(--color-red-hsl));
  --color-green: hsl(var(--color-green-hsl));
  --color-yellow: hsl(var(--color-yellow-hsl));
  --color-blue-lightest: hsl(var(--color-blue-lightest-hsl));
  --color-blue-light: hsl(var(--color-blue-light-hsl));
  --color-dark-navy: hsl(var(--color-dark-navy-hsl));
  --color-white: hsl(var(--color-white-hsl));

  /* Gradients */
  --gradient-1-colors: hsl(252 100% 67%), hsl(241 81% 54%);
  --gradient-2-colors: hsl(256 71% 46%), hsl(256 71% 46% / 0);
}

/* Base styles */
body {
  font-family: 'Hanken Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-rendering: optimizeSpeed;
  line-height: 1.62;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: var(--color-blue-lightest);
}

/* Typography */
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
}

/* Buttons */
.button {
  display: block;
  font-weight: bold;
  color: var(--color-white);
  width: 100%;
  background-color: var(--color-dark-navy);
  padding: 14px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  margin-top: 42px;
}

.button:hover {
  background-image: linear-gradient(to bottom, var(--gradient-1-colors));
}

.button:active {
  transform: translateY(1px);
}

/* Summary card */
.summary-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 736px;
  background-color: var(--color-white);
  border-radius: 32px;
  box-shadow: 0 30px 60px hsl(224 82% 58% / 15%);
}

.summary-card__result {
  background-image: linear-gradient(to bottom, var(--gradient-1-colors));
  border-radius: 32px;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.summary-card__result-heading {
  color: var(--color-blue-light);
  text-align: center;
}

.summary-card__summary-heading {
  color: var(--color-dark-navy)
}

.summary-card__summary {
  padding: 40px;
}

/* Rating circle */
.rating-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to bottom, var(--gradient-2-colors));
  border-radius: 50%;
  margin-top: 36px;
}

.rating-circle__score {
  color: var(--color-white);
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.rating-circle__total {
  color: hsl(var(--color-blue-light-hsl) / 51.68%);
  font-weight: 500;
}

/* Result brief */
.result-brief {
  text-align: center;
  color: var(--color-white);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 34px;
}

.result-brief__heading {
  font-size: 32px;
  line-height: 1.05;
  font-weight: bold;
}

.result-brief__body {
  color: var(--color-blue-light);
  line-height: 1.4;
  margin-top: 16px;
  padding-bottom: 12px;
}

/* Summary items */
.summary-items {
  display: grid;
  gap: 18px;
  margin-top: 30px;
}

.summary-item {
  --color: var(--color-red-hsl);
  display: flex;
  align-items: center;
  background-color: hsl(var(--color) / 5%);
  color: hsl(var(--color));
  padding: 14px 16px;
  border-radius: 12px;
}

.summary-item--memory {
  --color: var(--color-yellow-hsl);
}

.summary-item--verbal {
  --color: var(--color-green-hsl);
}

.summary-item--visual {
  --color: var(--color-blue-hsl);
}

.summary-item__icon {
  width: 20px;
  height: 20px
}

.summary-item__heading {
  font-size: 18px;
  margin-left: 14px;
  font-weight: 500;
}

.summary-item__score {
  margin-left: auto;
  color: var(--color-dark-navy);
  font-weight: bold;
}

.summary-item__total {
  color: hsl(var(--color-dark-navy-hsl) / 50%);
  padding-left: 2px;
}